<div>
  <table>
    <thead>
      <th>Service Name</th>
      <th>Message</th>
    </thead>
    <tbody>
      {{#each logs as log}}
        <tr>
            <td class='service'>{{log.service_name}}</td>
            <td class='message'>{{log.message}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</div>

<script>
  export default {
    data () {
      return {
        logs: []
      }
    }
  }
</script>

<style>
  div {
    color: var(--console-text);
    background-color: var(--console-bg);
    font-family: var(--monospace);
    padding: 0.5em;
    border-radius: 0.25em;
    overflow: scroll;
    filter: saturate(0.8) opacity(.95) blur(0.1px);
    transition: filter 2s;
  }
  div:hover, div:focus {
    filter: none;
    transition: filter 0.2s;
  }
  table {
    border-collapse: collapse;
  }
  thead {
    white-space: nowrap;
  }
  .service {
    white-space: nowrap;
    padding-right: 2em;
  }
  .message {
    white-space: pre;
    height: 1em;
  }
</style>
